@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bgColor: #232323;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --yellowColor: #ff0;
    --grayColor: #f0f0f0;
}

body {
    background-color: var(--bgColor);
}

.container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 768px) {
    .container {
        width: 700px;
    }
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.skills .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skills .container .progressbar {
    width: 100%;
}

.skills .container .progressbar h3 {
    color: var(--whiteColor);
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}

.skills .container .progressbar .progress {
    position: relative;
    width: 100%;
    height: 0.5rem;
    border-radius: 3rem;
    background-color: var(--grayColor);
}

.skills .container .progressbar .progress-title {
    position: relative;
    margin-bottom: 1rem;
}

.skills .container .progressbar .progress-title span {
    display: block;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--blackColor);
    top: 50%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    margin-left: -1.4rem;
    transition: all 1s ease;
}

.skills .container .progressbar .progress-title span::before,
.skills .container .progressbar .progress-title span::after {
    content: "";
    position: absolute;
}

.skills .container .progressbar .progress-title span::before {
    width: 4rem;
    height: 2rem;
    background-color: var(--yellowColor);
    top: .2rem;
    left: -.3rem;
    border-radius: .3rem;
    z-index: -1;
}

.skills .container .progressbar .progress-title span::after {
    border-top: 1rem solid var(--yellowColor);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    top: 2.14rem;
    left: .6rem;
}

.skills .container .progressbar .progress span {
    display: block;
    width: 0;
    height: 100%;
    border-radius: 3rem;
    background-color: var(--yellowColor);
    transition: all 1s ease;
}